.product-list {
  height: 100%;
  padding: 10rpx;
  .all-food {
    display: flex;
    height: 160rpx;
    background-color: rgb(172, 232, 206);
    border-radius: 5%;
    position: relative;
    margin-bottom: 10rpx;
    .product-Picture image {
      height: 160rpx;
      width: 160rpx;
      border-radius: 10rpx;
    }
    .food-info {
      display: flex;
      flex-direction: column;
      margin-left: 10rpx;
      position: relative; // 添加相对定位
      flex: 1; // 添加弹性布局

      .food-name {
        font-weight: 800;
      }
      .food-describe {
        width: 400rpx;
        color: gray;
        font-size: 20rpx;
      }
      .food-sales {
        font-size: 20rpx;
        color: rgb(174, 174, 117);
      }
      .food-price {
        font-weight: 800;
        color: red;
      }
      .food-input image {
        width: 44rpx;
        height: 44rpx;
        position: absolute;
        right: 61rpx;
        bottom: 12rpx;
        z-index: 1; // 添加层级
      }
      .food-inputNumber {
        position: absolute;
        right: 50rpx;
        bottom: 7rpx;
      }
    }
  }
}
