.product-list {
  height: 100%;
  padding: 10rpx;
  .all-food {
    display: flex;
    height: 160rpx;
    background-color: rgb(255, 220, 230);
    border-radius: 5%;
    position: relative;
    margin-bottom: 10rpx;
    .product-Picture image {
      height: 160rpx;
      width: 160rpx;
      border-radius: 10rpx;
    }
    .food-info {
      display: flex;
      flex-direction: column;
      margin-left: 10rpx;
      position: relative; // 添加相对定位
      flex: 1; // 添加弹性布局

      .food-name {
        font-weight: 800;
      }
      .food-describe {
        width: 400rpx;
        color: gray;
        font-size: 20rpx;
      }
      .food-sales {
        font-size: 20rpx;
        color: rgb(174, 174, 117);
      }
      .food-price {
        font-weight: 800;
        color: red;
      }
      .food-input image {
        width: 44rpx;
        height: 44rpx;
        position: absolute;
        right: 61rpx;
        bottom: 12rpx;
        z-index: 1; // 添加层级
      }
      .food-inputNumber {
        position: absolute;
        right: 50rpx;
        bottom: 7rpx;
      }
    }
  }
  .product-order {
    position: fixed;
    bottom: 24rpx;
    left: 30rpx;
    width: 90%;
    height: 100rpx;
    background-color: rgb(255, 240, 245);
    border-top: 1px solid #eee;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -2rpx 6rpx rgba(0, 0, 0, 0.05);
    z-index: 1000;
    border-radius: 40rpx;
    .product-dine {
      width: 110rpx;
      height: 90rpx;
      background-color: rgb(255, 182, 193);
      margin-right: 10rpx;
      border-radius: 40rpx;
      line-height: 90rpx; /* 设置行高等于高度实现垂直居中 */
      text-align: center; /* 水平居中 */
    }
    image {
      width: 44rpx;
      height: 44rpx;
      margin-left: 20rpx;
    }
  }
}
