.menu-box {
  .category-menu {
  }
  .menu-item {
    width: 190rpx;
    height: 130rpx;
    background-color: rgb(255, 182, 193);
    white-space: nowrap; /* 禁止文字换行 */
    border-bottom: 3rpx solid rgb(254, 251, 234);
    // 垂直水平居中
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
}
