.business-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;

  .header-area {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    height: 180rpx; /* 设置高度，确保内容居中有效 */
    .header-userPicture image {
      width: 120rpx;
      height: 120rpx;
      border-radius: 10rpx;
      margin: 0rpx 0 0 40rpx;
    }
    .business-info {
      display: flex;
      flex-direction: column; /* 保持商家名称和地址上下排列 */
      justify-content: center; /* 在父容器中上下居中 */
      margin-left: 20rpx;
    }
  }
  .notice-area {
    background-color: rgb(254, 251, 234);
    height: 50rpx;
    .notice-info {
      display: flex;
      margin-left: 20rpx;
    }
  }
}
